@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans+Condensed:ital,wght@0,1..1000;1,1..1000&family=Sofia+Sans+Extra+Condensed:ital,wght@0,1..1000;1,1..1000&display=swap');
* {
    margin: 0;
    padding: 0;    
    box-sizing: border-box;
}

main {
    margin-left: 9%;
    margin-right: 9%;
}

a {
    color: white;
    text-decoration: none;
    transition: 0.3s;
}

a:hover {
    opacity: 0.7;
}

.logo {
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: "Sofia Sans Extra Condensed", sans-serif;
    font-weight: bold;
    background: rgba(249, 179, 47, 1);
    height: 8vh;
}

.nav-list {
    list-style: none;
    display: flex;
}

.nav-list li {
    letter-spacing: 3px;
    margin-right: 45px;
}

.titulo-principal {
   font-family: "Sofia Sans Extra Condensed", sans-serif;
   color: #202020;
   font-weight: bold;
   font-size: 5rem;
   line-height: 1.2;
   text-align: center;
   margin-top: 2%;
}

.legenda-principal {
  font-family: "Sofia Sans Extra Condensed", sans-serif;
   color: #535353;
   font-size: 1.8rem;
   line-height: 1.2;
   text-align: center;
   margin-top: 2%;
}

.container {
    flex: 1;
    display: flex;
    gap: 130px;
    flex-wrap: wrap;
    margin-bottom: 50px;
}

.box {
    margin-top: 5%;
    background: white;
    width: 450px;
    height: 380px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.1);
    transition: all 0.5s ease;
    text-align: center;
}

.icon {
    margin-bottom: 30px;
}

.title {
    font-family: "Sofia Sans Extra Condensed", sans-serif;
    font-size: 2.5rem;
    letter-spacing: 0.2rem;
    font-weight: bold;
}

.description {
    font-family: "Sofia Sans Extra Condensed", sans-serif;
    opacity: 0;
    max-height: 0;
    padding: 0 15px;
    font-size: 1.8rem;
    transition: all 0.5s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box.active {
    width: 450px;
    height: 550px;
}

.box.active .description {
    opacity: 1;
    max-height: 100px;
    margin-top: 30px;
}

.btn {
    display: inline-block;
    margin-top: 5%;
    padding: 8px 20px;
    background-color: rgba(249, 179, 47, 1);
    color: white;
    text-decoration: none;
    border-radius: 30px;
    width: 300px;
    font-weight: bold;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: rgba(255, 164, 16, 1);
}

footer {
    background: rgba(94, 94, 94, 1);
    padding: 20px 40px;
    color: white;
    font-family: "Sofia Sans Extra Condensed", sans-serif;
    margin-top: -4px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-left: 9%;
    margin-right: 9%;
}

.footer-logo {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: white;
    margin-right: 15px;
    background-image: url("../img/mariana\ sem\ fundo\ -\ Copia.png");
    background-size: cover;
    background-position: center;
}

.footer-left {
    display: flex;
    align-items: center;
    gap: 10px;
}

.footer-name {
    font-weight: bold;
    font-size: 1.3rem;
    letter-spacing: 2px;
}

.footer-links {
    list-style: none;
    display: flex;
    gap: 50px;
}

.footer-links li a {
    color: white;
    font-weight: bold;
    letter-spacing: 2px;
    text-decoration: none;
    transition: opacity 0.3s ease;
}

.footer-links li a:hover {
    opacity: 0.7;
}

.footer-socials {
    display: flex;
    gap: 15px;
}

.social.github i {
  color: #333; 
}

.social.instagram i {
  color: #E1306C; 
}

.social.linkedin i {
  color: #0077b5; 
}

.social.email i {
  color: #fbbc05; 
}

.social {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    background: white;
    font-size: 18px;
    transition: transform 0.3s ease, background 0.3s ease;
}

.social:hover {
    transform: scale(1.15);
    background: #d6d6d6;
}
